@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @if(TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @{ 
            var userName = HttpContext.Current.User.Identity.Name;
            if(userName != "")
            {
                <h2>@Html.ActionLink("SIGnature","ProductList","Product")
                    <span class="btn-warning btn pull-right">
                        @Html.ActionLink(HttpContext.Current.User.Identity.Name + " - Logout","Logout","Account")
                    </span>
                </h2>
            }

        }
        @RenderBody()
    </div>
</body>
</html>
